@charset "UTF-8";

/*Кнопка меню*/

/*В разметке обязательно должна иметь внутренний span */

/*<button class="burger"><span></span></button>*/

.bigform__submit,
.cart__clear,
.product__cart,
.form__submit,
.new__button,
.catalog__more,
.promo__link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(49, 99, 157);
  border-radius: 20px;
  padding: 12px 61px;
  color: #fff;
  font-size: 20px;
  font-family: Arial;
  font-weight: 700;
  letter-spacing: -0.2px;
  transition: 0.3s cubic-bezier(0.34, 0.73, 0.47, 0.97);
  width: fit-content;
}

.bigform__submit:hover,
.cart__clear:hover,
.product__cart:hover,
.form__submit:hover,
.new__button:hover,
.catalog__more:hover,
.promo__link:hover {
  background-color: rgba(49, 99, 157, 0.6);
}

html {
  font-size: 20px;
  scroll-behavior: smooth;
}

ul {
  list-style-type: disc;
  list-style-position: inside;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul.slick-dots,
ul.breadcrumb {
  list-style-type: none;
  list-style-position: outside;
}

img {
  object-fit: cover;
  pointer-events: none;
}

body {
  font-family: "Arial";
  cursor: default;
  background-color: #fff;
  color: rgb(36, 36, 36);
  min-height: 100vh;
  letter-spacing: -0.16px;
}

section {
  position: relative;
}

p {
  color: rgb(36, 36, 36);
  font-weight: 400;
  font-size: 16px;
}

.hidden {
  display: none;
}

.wrapper {
  position: relative;
  width: 1280px;
  height: 100%;
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 40px;
  font-family: "Arial";
  font-weight: 700;
  line-height: 54.56px;
  color: rgb(36, 36, 36);
}

h2 {
  font-size: 48px;
  font-family: "Arial";
  font-weight: 700;
  color: #2e363e;
}

h3 {
  font-size: 36px;
  font-family: "Arial";
  font-weight: 700;
  letter-spacing: -0.36px;
}

h4 {
  font-size: 24px;
  font-family: "Arial";
  font-weight: 700;
}

a {
  color: rgb(36, 36, 36);
  display: inline-block;
  text-decoration: none;
  transition: 0.3s cubic-bezier(0.34, 0.73, 0.47, 0.97);
}

textarea,
button,
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: "Arial";
  border: none;
  outline: none;
}

textarea[disabled],
button[disabled],
input[disabled] {
  cursor: default;
  opacity: 0.7;
}

button {
  cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  font-size: 1rem;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

.burger {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fff;
  z-index: 2;
  transition: ease-in-out 0.2s;
  visibility: hidden;
  opacity: 0;
  overflow: scroll;
}

.burger .header__place {
  display: flex;
}

.burger .header__place:hover {
  color: rgba(49, 99, 157, 0.6);
}

.burger.active {
  visibility: visible;
  opacity: 1;
}

.burger__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.burger a {
  transition: ease-in-out 0.2s;
}

.burger a:hover {
  color: rgb(49, 99, 157);
}

.burger__logo img {
  width: 150px;
}

.burger__adress {
  font-size: 16px;
  width: 250px;
  margin-bottom: 20px;
}

.burger__phone,
.burger__email {
  font-size: 16px;
}

.burger__email {
  display: flex;
  margin: 20px 0;
}

.burger__email > svg {
  margin-right: 8px;
}

.burger__close {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
}

.burger__close::before,
.burger__close::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  background-color: rgb(49, 99, 157);
  transform: rotate(45deg);
}

.burger__close::after {
  transform: rotate(-45deg);
}

.burger__nav-item {
  margin-bottom: 6px;
}

.burger .header__container {
  flex-wrap: wrap;
  height: auto;
  margin: 30px 0;
}

.burger .header__search {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
}

.burger .header__busket,
.burger .header__account {
  height: 40px;
  width: 45%;
}

.header {
  padding-top: 40px;
}

.header__link {
  transition: 0.3s cubic-bezier(0.34, 0.73, 0.47, 0.97);
}

.header__link:hover {
  color: rgb(49, 99, 157);
}

.header .wrapper {
  height: 146px;
}

.header__nav-container {
  height: 100%;
  width: 56%;
  margin-left: 8%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  padding-left: 15%;
  padding-right: 5%;
}

.header__side {
  text-align: right;
  height: 100%;
}

.header__phone {
  font-weight: 700;
  font-size: 18px;
  display: flex;
  align-items: center;
  transition: 0.3s cubic-bezier(0.34, 0.73, 0.47, 0.97);
}

.header__phone:hover {
  color: rgb(49, 99, 157);
}

.header__phone:hover > svg {
  transform: translate(-10px, 0);
}

.header__phone > svg {
  margin-right: 20px;
  transition: 0.3s cubic-bezier(0.34, 0.73, 0.47, 0.97);
}

.header__time {
  font-size: 13px;
  margin-top: 20px;
  display: flex;
}

.header__time > svg {
  margin-right: auto;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.header__search {
  width: 70%;
  height: 58px;
  position: relative;
}

.header__search > input {
  width: 100%;
  height: 100%;
  border: 1px solid rgb(49, 99, 157);
  border-radius: 15px;
  padding: 14px 33px;
  font-size: 18px;
}

.header__search > input:focus + .header__placeholder {
  visibility: hidden;
  opacity: 0;
}

.header__placeholder {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  left: 33px;
  top: 0;
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  display: flex;
  align-items: center;
  transition: 0.3s cubic-bezier(0.34, 0.73, 0.47, 0.97);
  visibility: visible;
  opacity: 1;
}

.header__placeholder > svg {
  margin-right: 10px;
}

.header__busket,
.header__account {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12%;
  height: 100%;
  border: 1px solid rgb(49, 99, 157);
  border-radius: 15px;
  transition: 0.3s cubic-bezier(0.34, 0.73, 0.47, 0.97);
}

.header__busket:hover,
.header__account:hover {
  background-color: rgb(49, 99, 157);
}

.header__busket:hover path,
.header__account:hover path {
  stroke: #fff;
}

.promo {
  position: relative;
  margin-top: 13px;
}

.promo__item .wrapper {
  background-color: rgba(49, 99, 157, 0.6);
  border-radius: 30px;
  padding: 43px 38px 36px 35px;
  height: 650px;
}

.promo__img {
  margin-bottom: auto;
}

.promo__content {
  color: #fff;
  width: 350px;
  align-self: end;
}

.promo__text {
  margin-top: 11px;
  font-weight: 700;
}

.promo__link {
  margin-top: 95px;
}

.promo__link:hover {
  background-color: #fff;
  color: rgb(49, 99, 157);
}

.promo .owl-dots {
  position: absolute;
  bottom: 14px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.promo .owl-dots .owl-dot {
  width: 14px;
  height: 14px;
  display: block;
  border-radius: 50%;
  background-color: #fff;
  margin-left: 5px;
  transition: 0.3s cubic-bezier(0.34, 0.73, 0.47, 0.97);
}

.promo .owl-dots .owl-dot:first-child {
  margin-left: 0;
}

.promo .owl-dots .owl-dot.active {
  background-color: rgb(49, 99, 157);
}

.promo .owl-dots .owl-dot:hover:not(.active) {
  background-color: rgba(49, 99, 157, 0.6);
}

.owl-carousel .owl-item img {
  width: 68%;
  height: 85%;
  border-radius: 25px;
}

.breadcrumbs {
  margin-top: 134px;
}

.breadcrumbs__container {
  width: fit-content;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
}

.breadcrumbs__link {
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  font-family: Arial;
  letter-spacing: -0.2px;
}

.breadcrumbs__block {
  margin: 0 15px;
  display: flex;
  align-items: center;
}

.about {
  margin-top: 50px;
}

.about__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
}

.about__text {
  width: 50%;
  margin-right: 10%;
}

.catalog {
  margin-top: 46px;
}

.catalog__container {
  width: 100%;
}

.catalog__content {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 60px 45px;
  grid-template-areas: ". . ." ". . ." ". . .";
}

.catalog__item {
  transition: 0.3s cubic-bezier(0.34, 0.73, 0.47, 0.97);
}

.catalog__item-title {
  margin-top: 30px;
}

.catalog__item img {
  height: 380px;
  width: 100%;
  border-radius: 20px;
  transition: 0.3s cubic-bezier(0.34, 0.73, 0.47, 0.97);
}

.catalog__item:hover img {
  height: 300px;
}

.catalog__more {
  margin: 0 auto;
  margin-top: 60px;
}

.image {
  margin-top: 60px;
}

.image img {
  width: 100%;
}

.new__container {
  width: 100%;
}

.new__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new__item img {
  height: 290px;
  transition: 0.3s cubic-bezier(0.34, 0.73, 0.47, 0.97);
  border-radius: 25px;
}

.new__item:hover img {
  height: 320px;
  transition: 0.3s cubic-bezier(0.34, 0.73, 0.47, 0.97);
}

.new__item:hover .new__title {
  margin-top: 30px;
}

.new__title {
  margin-top: 60px;
  transition: 0.3s cubic-bezier(0.34, 0.73, 0.47, 0.97);
}

.new__text {
  margin-top: 30px;
}

.new__button {
  margin-top: 60px;
  width: 100%;
}

.new .owl-carousel .owl-item img {
  width: 100%;
}

#new__content {
  width: 80%;
  margin: 0 auto;
  margin-top: 60px;
}

#new__content .owl-stage-outer {
  overflow: hidden;
}

#new__content .owl-nav {
  position: absolute;
  width: 120%;
  left: -10%;
  bottom: 30%;
  display: flex;
  justify-content: space-between;
  z-index: -1;
}

#new__content .owl-nav button {
  transition: 0.3s cubic-bezier(0.34, 0.73, 0.47, 0.97);
}

#new__content .owl-nav button:last-child:hover {
  transform: translate(5px, 0);
}

#new__content .owl-nav button:first-child:hover {
  transform: translate(-5px, 0);
}

#new__content .owl-item {
  visibility: hidden;
  opacity: 0;
  transition: 0.3s cubic-bezier(0.34, 0.73, 0.47, 0.97);
}

#new__content .owl-item.active {
  visibility: visible;
  opacity: 1;
}

.other {
  margin-top: 220px;
}

.other__container {
  width: 100%;
}

.other__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 60px;
  width: 50%;
}

.other__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.other__subtitle {
  font-size: 25px;
  font-weight: 700;
  margin-top: 60px;
}

.map {
  margin-top: 80px;
}

.map__container {
  width: 100%;
}

.map__content {
  width: 100%;
  height: 500px;
  margin-top: 30px;
}

.map__content div {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.form {
  margin-top: 106px;
}

.form__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c1d0e1;
  border-radius: 30px;
  padding-top: 54px;
  padding-right: 90px;
  padding-bottom: 30px;
  width: 100%;
}

.form__content {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.form__title {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -0.4px;
  width: 464px;
  margin-bottom: 20px;
}

.form__input {
  height: 70px;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: Arial;
  letter-spacing: -0.4px;
  border-bottom: 2px solid #000;
  transition: 0.3s cubic-bezier(0.34, 0.73, 0.47, 0.97);
}

.form__input:hover {
  padding-bottom: 10px;
}

.form__input:focus {
  border-bottom: 2px solid rgb(49, 99, 157);
  padding-bottom: 10px;
}

.form__input::placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  font-family: Arial;
  letter-spacing: -0.4px;
}

.form__submit {
  height: 60px;
  margin-top: 60px;
  cursor: pointer;
}

.checkbox {
  margin-top: 40px;
}

.checkbox label {
  cursor: pointer;
}

.contacts__submit:disabled:hover {
  background-color: #146f68;
  color: #fff;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  font-family: Arial;
  letter-spacing: -0.4px;
  transition: 0.3s cubic-bezier(0.34, 0.73, 0.47, 0.97);
}

.custom-checkbox + label:hover {
  color: rgba(0, 0, 0, 0.8);
}

.custom-checkbox + label::before {
  content: "";
  position: relative;
  top: 21px;
  display: block;
  width: 33px;
  height: 33px;
  margin-left: -46px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  border-radius: 2px;
  border: 1px solid #b1a9a9;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  -webkit-transition: 0.3s cubic-bezier(0.34, 0.73, 0.47, 0.97);
  transition: 0.3s cubic-bezier(0.34, 0.73, 0.47, 0.97);
}

.custom-checkbox:checked + label::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='146F68' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.footer {
  margin-top: 75px;
  margin-bottom: 54px;
}

.footer__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 70%;
}

.footer__block {
  display: flex;
  flex-direction: column;
}

.footer__phone,
.footer__email {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  transition: 0.3s cubic-bezier(0.34, 0.73, 0.47, 0.97);
}

.footer__phone:hover,
.footer__email:hover {
  color: rgb(49, 99, 157);
}

.footer__phone:hover > svg,
.footer__email:hover > svg {
  transform: translate(-10px, 0);
}

.footer__phone > svg,
.footer__email > svg {
  margin-right: 12px;
  transition: 0.3s cubic-bezier(0.34, 0.73, 0.47, 0.97);
}

.footer__soc {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  width: 100%;
}

.footer__soc a {
  transition: 0.3s cubic-bezier(0.34, 0.73, 0.47, 0.97);
}

.footer__soc a:hover {
  transform: translate(0, -10px);
}

.footer__link {
  margin-top: 15px;
  transition: 0.3s cubic-bezier(0.34, 0.73, 0.47, 0.97);
}

.footer__link:hover {
  color: rgb(49, 99, 157);
}

.footer__img {
  margin-top: 10px;
  transition: 0.3s cubic-bezier(0.34, 0.73, 0.47, 0.97);
}

.footer__img:hover {
  transform: translate(0, 15px);
}

.about.side .about__text {
  width: 54%;
  font-size: 24px;
}

.catalog.side .catalog__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.catalog.side .catalog__left {
  width: 20%;
}

.catalog.side .catalog__right {
  width: 75%;
}

.catalog.side .catalog__menu {
  padding: 22px 40px;
  border-radius: 30px;
  background: rgba(131, 161, 196, 0.5);
}

.catalog.side .catalog__menu-title {
  color: rgb(49, 99, 157);
}

.catalog.side .catalog__menu-link {
  display: block;
  margin-top: 30px;
  font-size: 32px;
  transition: 0.3s cubic-bezier(0.34, 0.73, 0.47, 0.97);
}

.catalog.side .catalog__menu-link:hover {
  color: rgb(49, 99, 157);
}

.catalog.side .catalog__sort {
  display: flex;
  margin-top: 30px;
}

.catalog.side .catalog__sort-button {
  width: 240px;
  display: flex;
  align-items: center;
  position: relative;
  padding: 7px 14px;
  font-size: 20px;
  letter-spacing: -0.2px;
  color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0);
  margin-right: 20px;
}

.catalog.side .catalog__sort-button > svg {
  position: absolute;
  right: 25px;
  transition: 0.3s cubic-bezier(0.34, 0.73, 0.47, 0.97);
}

.catalog.side .catalog__sort-button:hover svg {
  right: 20px;
}

.catalog.side .catalog__sort-button.revert svg {
  transform: rotateX(180deg);
}

.catalog.side .catalog__content {
  gap: 60px 25px;
  margin-top: 30px;
}

.catalog.side .price {
  color: #000;
}

.catalog.side .new__item:hover .new__img {
  height: 300px;
}

.catalog.side .new__item:hover .new__title {
  margin-top: 20px;
}

.catalog.side .new__title {
  margin-top: 30px;
}

.catalog.side .new__text {
  margin-top: 15px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
}

.catalog.side .new__button {
  margin-top: 30px;
}

.catalog.side .new__img {
  width: 100%;
}

.breadcrumbs.small {
  margin-top: 80px;
}

.comment {
  margin-top: 80px;
}

.comment__container {
  width: 75%;
  margin-left: auto;
}

.product__container {
  width: 100%;
}

.product__title {
  font-size: 32px;
  margin-top: 30px;
}

.product__content {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.product__img {
  width: 40%;
}

.product__characteristic {
  width: 57%;
}

.product__price,
.product__count {
  display: flex;
  color: rgba(0, 0, 0, 0.5);
  font-size: 32px;
  letter-spacing: -0.32px;
}

.product__price-name,
.product__count-name {
  margin-right: 30px;
  color: #000;
}

.product__price-value {
  color: #000;
  margin-right: 8px;
}

.product__price-volume {
  margin-left: 8px;
}

.product__count {
  margin-top: 30px;
}

.product__count-value {
  height: 35px;
  display: flex;
}

.product__count-value button {
  background-color: rgba(0, 0, 0, 0);
  transition: 0.3s cubic-bezier(0.34, 0.73, 0.47, 0.97);
}

.product__count-value button:hover {
  transform: translate(0, -5px);
}

.product__count-input {
  width: 40px;
  height: 100%;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0 10px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  letter-spacing: -0.2px;
  text-align: center;
}

.product__text {
  margin-top: 30px;
}

.product__cart {
  margin-left: auto;
  height: 42px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

.cart {
  margin-top: 60px;
}

.cart__title {
  font-size: 32px;
}

.cart__container {
  width: 100%;
}

.cart__content {
  margin-top: 48px;
}

.cart__item {
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.cart__item:first-child {
  margin-top: 0;
}

.cart__img {
  height: 100%;
  border-radius: 15px;
}

.cart__name {
  width: 70%;
  font-size: 24px;
}

.cart__delete {
  background-color: rgba(0, 0, 0, 0);
}

.cart__total {
  width: 100%;
  margin-top: 76px;
  padding: 14px 10px;
  font-size: 32px;
  border: 1px solid rgb(49, 99, 157);
  border-radius: 20px;
  font-weight: 700;
  color: rgb(49, 99, 157);
}

.cart__clear {
  margin-top: 60px;
}

.cart__item-container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.custom-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

/* для элемента label связанного с .custom-radio */

.custom-radio + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

/* создание в label псевдоэлемента  before со следующими стилями */

.custom-radio + label::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 50%;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

/* стили при наведении курсора на радио */

.custom-radio:not(:disabled):not(:checked) + label:hover::before {
  border-color: #b3d7ff;
}

/* стили для активной радиокнопки (при нажатии на неё) */

.custom-radio:not(:disabled):active + label::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

/* стили для радиокнопки, находящейся в фокусе */

.custom-radio:focus + label::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */

.custom-radio:focus:not(:checked) + label::before {
  border-color: #80bdff;
}

/* стили для радиокнопки, находящейся в состоянии checked */

.custom-radio:checked + label::before {
  border-color: #0b76ef;
  background-color: rgb(49, 99, 157);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

/* стили для радиокнопки, находящейся в состоянии disabled */

.custom-radio:disabled + label::before {
  background-color: #e9ecef;
}

.bigform {
  margin-top: 60px;
  font-size: 24px;
  letter-spacing: -0.24px;
}

.bigform__container {
  width: 100%;
}

.bigform__main {
  display: flex;
  justify-content: space-between;
}

.bigform__block {
  width: 40%;
}

.bigform__title {
  margin-bottom: 30px;
  font-size: 34px;
  font-weight: 400;
  letter-spacing: -0.34px;
}

.bigform__input-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 50px;
  margin-top: 38px;
}

.bigform__input-container:first-child {
  margin-top: 0;
}

.bigform__input-container.auto {
  height: auto;
}

.bigform__input {
  height: 100%;
  font-size: 20px;
  padding: 0 20px;
  width: 50%;
  border: 1px solid rgba(49, 99, 157, 0.5);
  border-radius: 7px;
}

.bigform__payments {
  width: 43%;
}

.bigform__payment:last-child {
  margin-top: 30px;
}

.bigform__choose-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.bigform__delivery {
  margin-top: 60px;
}

.bigform__delivery .bigform__block {
  width: 53%;
}

.bigform__delivery .bigform__input {
  width: 60%;
}

.bigform__inputs {
  width: 60%;
}

.bigform__inputs .bigform__input {
  width: 50%;
  height: 50px;
  margin-top: 15px;
}

.bigform__inputs .bigform__input:first-child {
  margin-top: 0;
  width: 100%;
}

.bigform__submit {
  margin-top: 60px;
}

.total {
  margin-top: 60px;
  font-size: 24px;
}

.total__container {
  width: 100%;
  border-radius: 15px;
  background: #c1d0e1;
  padding: 30px 108px;
  margin-bottom: 93px;
}

.total__text {
  margin-top: 30px;
}

.total__text a {
  color: rgb(49, 99, 157);
}

.header__burger-button {
  width: 30px;
  height: 21px;
  background-color: transparent;
  position: relative;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__burger-button::after,
.header__burger-button::before {
  content: "";
  width: 100%;
  height: 3px;
  background-color: rgb(49, 99, 157);
}

.header__burger-button .line {
  width: 100%;
  height: 3px;
  background-color: rgb(49, 99, 157);
}

.content {
  margin-top: 46px;
}

.content__container {
  width: 100%;
}

.content__content {
  margin-top: 30px;
}