@media (max-width: 1300px) {
  .wrapper {
    width: 1000px;
  }

  .promo__item .wrapper {
    height: 540px;
  }

  .promo__content {
    width: 30%;
  }

  .header__nav {
    padding-left: 0;
  }

  .about__text {
    margin-right: 0;
  }

  .footer__container {
    width: 100%;
  }

  .other__content {
    width: 80%;
  }

  .catalog.side .catalog__menu {
    padding: 16px 20px;
    padding-bottom: 30px;
  }

  h1 {
    font-size: 30px;
  }

  .catalog.side .catalog__menu-link {
    font-size: 22px;
    margin-top: 14px;
  }
}

@media (max-width: 1000px) {
  html {
    font-size: 18px;
  }

  .wrapper {
    width: 768px;
  }

  .header__side {
    display: none;
  }

  .header__nav-container {
    width: 75%;
  }

  .about__img {
    width: 40%;
  }

  .catalog__content {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 60px 45px;
    grid-template-areas: ". ." ". .";
  }

  .form__container {
    padding-left: 84px;
  }

  .form__content {
    width: 100%;
  }

  .owl-carousel .owl-item img {
    width: 51%;
  }

  .promo__content {
    width: 45%;
  }

  .form__img {
    display: none;
  }

  .checkbox {
    margin-left: 46px;
  }

  .catalog__title {
    font-size: 38px;
  }

  .catalog.side .catalog__right {
    width: 70%;
  }

  .catalog.side .catalog__left {
    width: 28%;
  }

  .product__count {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .product__cart {
    width: 100%;
    margin-top: 20px;
  }

  .product__count,
  .product__price {
    font-size: 26px;
  }

  .cart__item-container {
    flex-direction: column;
  }

  .cart__name {
    width: 100%;
    margin-bottom: 20px;
  }

  .bigform__title {
    font-size: 28px;
  }

  .bigform {
    font-size: 18px;
  }

  .bigform__block {
    width: 50%;
  }

  .bigform__input {
    font-size: 16px;
  }

  .total {
    font-size: 18px;
  }

  .total__container {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 16px;
  }

  h2 {
    font-size: 38px;
  }

  h3 {
    font-size: 30px;
  }

  .header__nav-container {
    display: none;
  }

  .header__side {
    display: block;
    height: fit-content;
  }

  .header__burger-button {
    display: flex;
  }

  .wrapper {
    width: 95%;
  }

  .header {
    padding-top: 20px;
  }

  .promo__link {
    margin-top: 20px;
  }

  .promo .wrapper {
    flex-direction: column-reverse;
  }

  .promo__content {
    width: 100%;
  }

  .promo .owl-carousel .owl-item img {
    width: 100%;
    height: 60%;
  }

  .promo__item .wrapper {
    padding: 25px 38px 36px 35px;
  }

  .breadcrumbs {
    margin-top: 80px;
  }

  .about {
    margin-top: 30px;
  }

  .about__content {
    flex-direction: column;
    margin-top: 20px;
  }

  .about__text {
    width: 100%;
    margin-top: 30px;
  }

  .catalog__content {
    gap: 46px 20px;
    margin-top: 40px;
  }

  .catalog__item-title {
    margin-top: 15px;
    font-size: 24px;
  }

  .catalog__item img {
    height: 280px;
  }

  .catalog__more {
    margin: 30px auto 0;
  }

  .new__button {
    padding: 12px 30px;
  }

  .other {
    margin-top: 100px;
  }

  .other__content {
    width: 100%;
  }

  .other__subtitle {
    font-size: 20px;
  }

  .other__item svg {
    height: 60px;
  }

  .form__title {
    font-size: 30px;
    width: 100%;
  }

  .form .custom-checkbox + label {
    font-size: 16px;
  }

  .form__container {
    padding: 42px 50px;
  }

  .footer__container {
    flex-direction: column;
    align-items: center;
  }

  .footer__block {
    margin-top: 30px;
    align-items: center;
  }

  .catalog.side .catalog__container {
    display: block;
  }

  .catalog.side .catalog__left {
    width: 50%;
  }

  .catalog.side .catalog__right {
    width: 100%;
  }

  .catalog.side .catalog__sort-button {
    width: 49%;
  }

  .catalog.side .catalog__sort-button:last-child {
    margin-right: 0;
  }

  .catalog.side .catalog__sort {
    justify-content: space-between;
  }

  .catalog__right {
    margin-top: 40px;
  }

  .product__count,
  .product__price {
    font-size: 22px;
  }

  .cart__img {
    height: 140px;
  }

  .cart__name {
    font-size: 18px;
  }

  .bigform__main {
    flex-direction: column;
    align-items: center;
  }

  .bigform__block {
    width: 90%;
  }

  .bigform__payments {
    width: 90%;
    margin-top: 30px;
  }

  .bigform__delivery {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .bigform__delivery .bigform__block {
    width: 90%;
  }
}

@media (max-width: 520px) {
  html {
    font-size: 14px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 26px;
  }

  .promo__link {
    font-size: 16px;
    width: 100%;
  }

  .header__side {
    display: none;
  }

  .promo__item .wrapper {
    padding: 18px;
    justify-content: flex-end;
    height: auto;
    padding-bottom: 50px;
  }

  .promo .owl-carousel .owl-item img {
    height: 50%;
    margin-bottom: 0;
  }

  .promo__content {
    margin-top: 30px;
  }

  .catalog__content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "." ".";
  }

  .catalog__item-title {
    font-size: 20px;
  }

  .catalog__more {
    width: 100%;
  }

  .new__title {
    margin-top: 25px;
  }

  .new__text {
    margin-top: 20px;
  }

  .new__button {
    margin-top: 30px;
  }

  .other__content {
    flex-direction: column;
  }

  .other__item {
    margin-top: 30px;
  }

  .other__item:first-child {
    margin-top: 0;
  }

  .other__subtitle {
    margin-top: 20px;
  }

  .form__title {
    font-size: 24px;
  }

  .form__input {
    height: 50px;
    font-size: 16px;
  }

  .form__input::placeholder {
    font-size: 16px;
  }

  .form .custom-checkbox + label {
    font-size: 14px;
  }

  .checkbox {
    margin-top: 30px;
  }

  .form__submit {
    width: 100%;
  }

  .form__container {
    padding: 30px;
  }

  .map__content {
    height: 350px;
  }

  .catalog.side .catalog__left {
    width: 100%;
  }

  .catalog.side .catalog__sort-button {
    font-size: 14px;
  }

  .comment__container {
    width: 100%;
  }

  .product__content {
    flex-direction: column;
  }

  .product__img {
    width: 100%;
  }

  .product__characteristic {
    width: 100%;
    margin-top: 30px;
  }

  .breadcrumbs.small,
  .comment {
    margin-top: 50px;
  }

  .bigform__submit {
    width: 100%;
  }

  .cart__img {
    height: 100%;
    margin-right: 20px;
    width: 30%;
  }

  .cart__item {
    position: relative;
    height: 140px;
    justify-content: flex-start;
  }

  .cart__delete {
    position: absolute;
    right: 0;
    top: 0;
  }

  .cart__item-container {
    align-items: flex-start;
  }

  .cart__price {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 24px;
  }
}